@{
    ViewData["Title"] = "Tablero";
}

<div class="bg-dark py-6" data-aos="zoom-out-down">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="container-fluid px-4">
                <h1 class="mt-2 text-white">Tablero</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Bienvenido al sistema </li>
                </ol>
                <div></div>
                <div class="row mb-3 text-center">
                    <div class="col-xl-3 col-md-6">
                        <div class="cardTab bg-primary h3">
                            <a asp-controller="" asp-action="" class="stretched-link h5 text-black"
                                style="text-decoration: none;">
                                <i class="fa-solid fa-map-location-dot"></i> Ver Mapa
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="cardTab bg-light h3">
                            <a asp-controller="" asp-action="" class="stretched-link h5 text-black"
                                style="text-decoration: none;">
                                <i class="fa-solid fa-eye"></i> Ver Reportes
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="cardTab bg-info h3">
                            <a asp-controller="" asp-action="" class="stretched-link h5 text-black"
                                style="text-decoration: none;">
                                <i class="fa-solid fa-info"></i> Tipos de reportes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>